
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
footer{
    margin-top: auto;
    background:black;

}

.icon{
    padding-top: 20px;
    padding-bottom: 30px;
    
}

.symbol{
    display: flex;
    justify-content: center;
}
.symbol a{
    text-decoration: none;
    padding: 6px;
    background: white;
    margin: 10px;
    border-radius: 50%;
}
.symbol a i{
    font-size: 25px;
    color: black;
    opacity: 0.9;
}
.symbol a:hover{
background: black;
transition: 0.4s;
}
.symbol a i:hover{
    color: white;
    transition: 0.4s;
}
.foot{
    padding-top: 10px;
    padding-bottom: 30px;
}
.foot ul {
display: flex;
justify-content: center;
list-style-type: none;
}
.foot ul li a{
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    opacity: 0.7;
    transition: 0.5s;
}
.foot ul li a:hover{
    opacity: 1;
}
.copy{
    color: white;
    padding: 20PX;
    background-color: rgba(128, 128, 128, 0.103);
    display: flex;
    justify-content: center;
}